.img{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #00CED1;
    align-items: center;
}

.flip-i{
    width: 300px;
    height:400px;
    transition: 0.5s;
    transform:
    perspective(200em)
    rotateX(5deg);
    box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
      
}
.flip-d{
    width:300px;
    height:400px;
    transition: 0.5s;
    transform:
    perspective(200em)
    rotateX(5deg)
    rotateY(180deg);
    box-shadow:
    rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:
    rgb(213, 220, 226)
    rgb(213, 220, 226)
    rgb(184, 194, 204);
    
}